# Binaries
**/bin/**
**/bin-int/**

# Visual Studio files and folder
.vs/**
.vscode/**
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Generated Code
**.gen.c

# Makefiles
**/Makefile
